body {
    font-family: Gotham Rounded Medium,sans-serif;
    color: rgb(63,63,63);
}/*page d'accueil style*/
/*barre de navigation */
.navbar.navbar-expand-lg.bg-light {
    min-height: 6em;
}
#navbarSupportedContent {
    justify-content: end;
}
.navbar-nav.me-auto.mb-2.mb-lg-0 {
    margin-right: 15em!important;
}
#logo-nav{
    height: 2em;
    width: auto;
}
.nav-item.obj-boutton{
    background: linear-gradient(to right, #91c24b, #199ac6);
    border-radius: 2em;
    margin-left: 2em;
}
.nav-item.obj-boutton .nav-link {
    color: white;
}
/*footer */
.text-center.text-lg-start.text-white {
    background: linear-gradient(to right, #91c24b, #199ac6);
}
.container.text-center.text-md-start.mt-5 {
    padding-top: 2em;
    margin-top: 0em!important;
}
.logo-reseau-sociaux {
    display: flex;
}
#logo-footer {
    height: 6em;
}
.container.text-center.text-md-start.mt-5.copyright {
    display: flex;
    justify-content: center;
    padding-top: 1em;
    border-top: solid white ;
}
.text-footer {
    text-decoration: none;
}
/*carousel page d'accueil */
#carouselExampleSlidesOnly{
    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel-inner {
    position: relative;
    z-index: 1;
    height: 21em; 
    opacity: 40%;  
}
.carousel-text {
    position: absolute;
    z-index: 2;
    bottom: auto;
    font-size: 4em;
    font-weight: 700;
    font-style: italic;
    color: rgb(63,63,63);
}
/*comment ça marche page d'accueil */
.container.comment-ca-marche {
    color: rgb(63,63,63);
    padding-top: 4em;
    padding-bottom: 4em;
}
.petit-titre {
    text-transform: uppercase;
    font-weight: 200;
}
.grand-titre {
    font-size: 2.5em;
    font-weight: 600;
}
.container-card {
    display: flex;
    justify-content: space-evenly;
    padding-top: 3em;
}
.img-card{
    height: 17em;
    margin-bottom: 2em;
}
.text-card {
    font-size: 1.75em;
    font-weight: 600;
}