<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Chiffrage Objectif 54</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href = "@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href = "@{/css/style.css}" rel="stylesheet">
    <link th:href = "@{/css/GothamRoundedMedium.otf}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

    <!-- barre de navigation  --> 
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><img src="/img/logoo54horizontale.png" id="logo-nav" alt="..."></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Comment ça marche</a>
                    </li>
                    <li class="nav-item obj-boutton">
                        <a class="nav-link" href="#">SE CONNECTER</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- carousel page d'accueil  -->
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/img/etude.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <div class="text">
            <p>Objectif 54 met toute son energie à vous faire economiser la votre</p>
        </div>
        
    </div>

    <!-- section comment ça marche ?  -->
    <div>
        <div>
            <div>
                <img src="/img/tertiaire2.svg" height="15em" width="15em" alt="...">
                <p>Connecter-vous</p>
            </div>
            <div>
                <img src="/img/tertiaire2.svg" height="15em" width="15em" class="" alt="...">
                <p>Estimation CEE</p>
            </div>
            <div>
                <img src="/img/tertiaire.png" height="15em" width="15em" class="" alt="...">
                <p>Souscrire un contrat</p>
            </div>
        </div>
    </div>

    <!-- footer  -->
    <footer class="text-center text-lg-start text-white">
        <section class="">
            <div class="container text-center text-md-start mt-5">
                <div class="row mt-3">
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                       
                                <img src="/img/LogoO54vertical.png" id="logo-footer" alt="...">
                                <img src="/img/LogoISO9001.svg" class="" alt="...">
                            
                    </div>
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                        <h6 class="text-uppercase fw-bold">Useful links</h6>
                        <hr
                            class="mb-4 mt-0 d-inline-block mx-auto"
                            style="width: 60px; background-color: #7c4dff; height: 2px"
                            />
                        <p>
                            <a href="#!" class="text-white">Conditions générales d’utilisation</a>
                        </p>
                        <p>
                            <a href="#!" class="text-white">Mentions légales</a>
                        </p>
                        <p>
                            <a href="#!" class="text-white">Contact</a>
                        </p>
                    </div>
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                        <h6 class="text-uppercase fw-bold">Contact</h6>
                        <hr
                            class="mb-4 mt-0 d-inline-block mx-auto"
                            style="width: 60px; background-color: #7c4dff; height: 2px"
                            />
                        <p><i class="fas fa-home mr-3"></i> New York, NY 10012, US</p>
                        <p><i class="fas fa-envelope mr-3"></i> info@example.com</p>
                        <p><i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
                        <p><i class="fas fa-print mr-3"></i> + 01 234 567 89</p>
                    </div>
                </div>
            </div>
            <div class="container text-center text-md-start mt-5">
                <div class="logo-reseau-sociaux">
                    <a href="" class="text-white me-4">
                        <i class="fab fa-facebook-f fa-2x"></i>
                    </a>
                    <a href="" class="text-white me-4">
                        <i class="fab fa-twitter fa-2x"></i>
                    </a>
                    <a href="" class="text-white me-4">
                        <i class="fab fa-google fa-2x"></i>
                    </a>
                    <a href="" class="text-white me-4">
                        <i class="fab fa-instagram fa-2x"></i>
                    </a>
                    <a href="" class="text-white me-4">
                        <i class="fab fa-linkedin fa-2x"></i>
                    </a>
                </div>
            </div>
        </section>
        <!-- Section: Links  -->
    </footer>
    <script th:src = "@{/js/bootstrap.min.js}"></script>
</body>
</html>